# Project 6 -- Seyi Ogunmodede

**TA Help:** Jeong Ik Su

- Help with figuring out how to write a function.

## Question 1

In [16]:
import pandas as pd

In [17]:
cars = pd.read_csv("/anvil/projects/tdm/data/craigslist/vehicles.csv")

In [3]:
def mycarcount(cars, year):
    """
    mycarcount is a function that accept cars and year as argument
    and returns the number of cars that occur in each year for cars.
    
    Args:
    cars (df): The dataframe from which we are counting the number of cars.
    year (int): The years on which we are counting the number of vehicles.
    
    Returns:
        The numbers of cars on my dataframe during the year
    """
    # you are telling the python to run a row at atime and compare the values within the rows
    # Then return the total_count afterwards
    
    total_count = 0
    for index, row in cars.iterrows ():
        if row ['year'] ==year:
            total_count +=1    
    return total_count

In [4]:
# This is for each year 
mycarcount(cars, 2016)

32096

In [5]:
mycarcount(cars, 2011)

26532

In [6]:
mycarcount(cars,1989)

630

In [7]:
mycarcount(cars, 1997)

2062

In [8]:
# This is for loop for the list of year as parameter and take 
# To prints the number of vehicles from each year in the list
# The syntax code has a comma separator in it

for year in [2011, 1989, 1997]:
    print(f'On the year', year, 'there were a total of', mycarcount(cars, year), 'vehicles')

On the year 2011 there were a total of 26532 vehicles
On the year 1989 there were a total of 630 vehicles
On the year 1997 there were a total of 2062 vehicles

In [9]:
# This is for loop for the list of year as parameter and take 
# To prints the number of vehicles from each year in the  list
# The syntax code has a curly bracket in it

for year in [2011, 1989, 1997]:
    print(f'On the year {year} there were a total of', mycarcount(cars, year), 'vehicles')

On the year 2011 there were a total of 26532 vehicles
On the year 1989 there were a total of 630 vehicles
On the year 1997 there were a total of 2062 vehicles

In [41]:
def mycarcount(cars,listofyear):
    """
    mycarcount is a function that accept cars and listofyear as argument
    and print the total number of cars that occur from each year in the list.
    
    Args:
    cars (df): The dataframe from which we are counting the number of cars.
   listofyear (int): The years on which we are counting the number of vehicles.
    
   print:
        The total numbers of cars from each year in the listofyear 
    """
    # you are telling the python to run a row at atime and compare the values within the row
    # for loop for each year in the listofyear
    
    for year in listofyear:
        total_count = 0
        for index, row in cars.iterrows ():
            if row ['year'] ==year:
                total_count +=1
        print (total_count)

In [43]:
mycarcount(cars, [2011, 1989, 1997])

26532
630
2062

In [19]:
def mycarcount(listofyear):
    """
    mycarcount is a function that accept one argument, listofyear as an argument
    and print the total number of cars that occur from each year in the list.
    
    Args:
    cars (df): The dataframe from which we are counting the number of cars.
    year (int): The years on which we are counting the number of vehicles.
    
    print:
        The total numbers of cars from each year in the listofyear 
    """
    # First, you have to run the Dataframe from which to count the number of cars from
    # you are telling the python to run a row at atime and compare the values within the row
    
    cars = pd.read_csv("/anvil/projects/tdm/data/craigslist/vehicles.csv")
    for year in listofyear:
        total_count = 0
        for index, row in cars.iterrows ():
            if row ['year'] ==year:
                total_count +=1 
        print(total_count)

In [45]:
mycarcount([2011, 1989, 1997])

26532
630
2062

Modify your mycarcount function from Question 1 of Project 5, so that it takes a list of years as a parameter, and prints the number of vehicles from each year in your list.

Now test your mycarcount function on the list of years [2011, 1989, 1997]. The output from mycarcount(cars, [2011, 1989, 1997]) or from mycarcount([2011, 1989, 1997]) should be the number of vehicles from each of the years 2011, 1989, and 1997, respectively.

## Question 2

In [22]:
def records(region,year):  
    """
    records is a function that accept region and year as argument
    and returns the number of cars that occur in each year for cars.
    
    Args:
    region(str): The region which we are counting the number of cars.
    year (int): The years on which we are counting the number of vehicles.
    
    Returns:
        The numbers of cars on each region during each year 
    """
# First, you have to run the Dataframe from which to count the number of cars from
# you are telling the python to run a row at atime and compare the values within the row

    total_count=0
    cars = pd.read_csv("/anvil/projects/tdm/data/craigslist/vehicles.csv")
    for index, row in cars.iterrows ():
        if (row ['year'] ==year) and (row ['region'] ==region):
            total_count +=1   
    return total_count

In [30]:
# first define what year is, to be list of years
year=[2016, 2017, 2018]

In [31]:
# Different ways to write the syntax code.

for i in (year):
    a =records("chicago",i)
    print (f'On the year', i, 'there were a total of', a, 'vehicles from chicago')

On the year 2016 there were a total of 189 vehicles from chicago
On the year 2017 there were a total of 184 vehicles from chicago
On the year 2018 there were a total of 87 vehicles from chicago

In [25]:
for i in [2016, 2017, 2018]:
    a =records("chicago",i)
    print (f'On the year', i, 'there were a total of', a, 'vehicles from chicago')

On the year 2016 there were a total of 189 vehicles from chicago
On the year 2017 there were a total of 184 vehicles from chicago
On the year 2018 there were a total of 87 vehicles from chicago

In [26]:
for year in [2016, 2017, 2018]:
    counts=records("chicago",year)
    print (counts, year)

189 2016
184 2017
87 2018

In [57]:
# Double for loop

for year in [2016,2017,2018]:
    for region in['chicago','indianapolis','cincinnati']:
        print(f'On the year', {year}, 'there were a total of', records(region,year),f'vehicles from {region}')

On the year {2016} there were a total of 189 vehicles from chicago
On the year {2016} there were a total of 199 vehicles from indianapolis
On the year {2016} there were a total of 263 vehicles from cincinnati
On the year {2017} there were a total of 184 vehicles from chicago
On the year {2017} there were a total of 320 vehicles from indianapolis
On the year {2017} there were a total of 271 vehicles from cincinnati
On the year {2018} there were a total of 87 vehicles from chicago
On the year {2018} there were a total of 154 vehicles from indianapolis
On the year {2018} there were a total of 130 vehicles from cincinnati

Write a loop that prints the number of vehicles from chicago as the region in each of the years 2016, 2017, 2018. (I.e., you should have 3 lines of output.)

Now write a double-loop that prints the number of vehicles from each region in the list [chicago, indianapolis, cincinnati] in each of the years 2016, 2017, 2018. (I.e., you should have 9 lines of output.)

## Question 3

In [60]:
for year in [2016,2017,2018]:
    for region in['chicago','indianapolis','cincinnati']:
        print(f'On the year', {year}, 'there were a total of', records(region,year),f'vehicles from {region}')

On the year {2016} there were a total of 189 vehicles from chicago
On the year {2016} there were a total of 199 vehicles from indianapolis
On the year {2016} there were a total of 263 vehicles from cincinnati
On the year {2017} there were a total of 184 vehicles from chicago
On the year {2017} there were a total of 320 vehicles from indianapolis
On the year {2017} there were a total of 271 vehicles from cincinnati
On the year {2018} there were a total of 87 vehicles from chicago
On the year {2018} there were a total of 154 vehicles from indianapolis
On the year {2018} there were a total of 130 vehicles from cincinnati

In [45]:
def rv(mylistofyear, mylistofregion):
    """
   rv is a function that accepts mylistofyear and mylistofregion as arguments,
    and returns the number of vehicles that during on each year in mylistofyear and each car in mylistofregion.

    Args:
        mylistofyear (list): The year on which we are counting the number of cars.
        mylistofregion (list): The cars on which we are counting in a region.

    Returns:
        Nothing.  Instead, we just print the values on each year for the cars.
    """
    for year in mylistofyear:
        for region in mylistofregion:
            print(f'On the year', {year}, 'there were a total of', records(region,year),f'vehicles from {region}')

In [46]:
rv([2011,1989,1997], ['chicago','indianapolis','cincinnati'])

On the year {2011} there were a total of 157 vehicles from chicago
On the year {2011} there were a total of 147 vehicles from indianapolis
On the year {2011} there were a total of 170 vehicles from cincinnati
On the year {1989} there were a total of 11 vehicles from chicago
On the year {1989} there were a total of 2 vehicles from indianapolis
On the year {1989} there were a total of 4 vehicles from cincinnati
On the year {1997} there were a total of 12 vehicles from chicago
On the year {1997} there were a total of 9 vehicles from indianapolis
On the year {1997} there were a total of 9 vehicles from cincinnati

In [32]:
# To lnow the different Origin available
# You will consider for a particular year (1989)
# Then look for the uniqueness

cars = pd.read_csv("/anvil/projects/tdm/data/craigslist/vehicles.csv")

In [38]:
pd.options.display.max_columns = None

In [41]:
cars.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7119256118,https://mohave.craigslist.org/ctd/d/lake-havas...,mohave county,https://mohave.craigslist.org,3495,2012.0,jeep,patriot,like new,4 cylinders,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,silver,https://images.craigslist.org/00B0B_k2AXIJ21ok...,"THIS 2012 JEEP PATRIOT IS A 4CYL. AC, STEREO, ...",NaN,az,34.4554,-114.2690
1,7120880186,https://oregoncoast.craigslist.org/cto/d/warre...,oregon coast,https://oregoncoast.craigslist.org,13750,2014.0,bmw,328i m-sport,good,NaN,gas,76237.0,clean,automatic,NaN,rwd,NaN,sedan,grey,https://images.craigslist.org/00U0U_3cLk0WGOJ8...,Selling my 2014 BMW 328i with the following be...,NaN,or,46.1837,-123.8240
2,7115048251,https://greenville.craigslist.org/cto/d/sparta...,greenville / upstate,https://greenville.craigslist.org,2300,2001.0,dodge,caravan,excellent,6 cylinders,gas,199000.0,clean,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00k0k_t4WqYn5nDC...,"01 DODGE CARAVAN,3.3 ENGINE,AUT TRANS,199000 M...",NaN,sc,34.9352,-81.9654
3,7119250502,https://mohave.craigslist.org/cto/d/lake-havas...,mohave county,https://mohave.craigslist.org,9000,2004.0,chevrolet,colorado ls,excellent,5 cylinders,gas,54000.0,clean,automatic,1GCCS196448191644,rwd,mid-size,pickup,red,https://images.craigslist.org/00J0J_lJEzfeVLHI...,"2004 Chevy Colorado LS, ONLY 54000 ORIGINAL MI...",NaN,az,34.4783,-114.2710
4,7120433904,https://maine.craigslist.org/ctd/d/searsport-t...,maine,https://maine.craigslist.org,0,2021.0,NaN,Honda-Nissan-Kia-Ford-Hyundai-VW,NaN,NaN,other,NaN,clean,other,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/01010_j0IW34mCsm...,CALL: 207.548.6500 TEXT: 207.407.5598 **WE FI...,NaN,me,44.4699,-68.8963

In [42]:
cars.tail()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,description,county,state,lat,long
435844,7119262300,https://mohave.craigslist.org/cto/d/hualapai-2...,mohave county,https://mohave.craigslist.org,2500,2005.0,ford,f150,fair,NaN,gas,282866.0,clean,automatic,NaN,NaN,full-size,truck,white,https://images.craigslist.org/01717_j8qym31Rea...,"2005 F150 XLT 5.4 TRITON NEEDS ENGINE, 2WD. A...",NaN,az,35.2414,-113.989
435845,7112219717,https://rapidcity.craigslist.org/cto/d/rapid-c...,rapid city / west SD,https://rapidcity.craigslist.org,2700,2002.0,toyota,camry,good,6 cylinders,gas,194000.0,clean,automatic,NaN,fwd,NaN,NaN,blue,https://images.craigslist.org/00A0A_6g8sllmOsF...,"2002 Toyota Camry. 4-door, navy blue, good ti...",NaN,sd,44.0036,-103.359
435846,7120896708,https://oregoncoast.craigslist.org/cto/d/corne...,oregon coast,https://oregoncoast.craigslist.org,2450,2001.0,ford,focus,good,4 cylinders,gas,130484.0,clean,automatic,NaN,rwd,compact,other,black,https://images.craigslist.org/00707_6cmfCa9Pc9...,"I am selling my ford focus 2001 SE, 130 thousa...",NaN,or,45.5272,-123.095
435847,7120885819,https://oregoncoast.craigslist.org/ctd/d/portl...,oregon coast,https://oregoncoast.craigslist.org,8995,2013.0,mazda,mazda3,NaN,NaN,gas,93339.0,clean,automatic,JM1BL1UPXD1758084,fwd,NaN,sedan,NaN,https://images.craigslist.org/00j0j_jEvFN3iSx1...,Simple Easy Car BuyingNo Games No Gimmicks ...,NaN,or,45.5231,-122.579
435848,7112215161,https://rapidcity.craigslist.org/ctd/d/rapid-c...,rapid city / west SD,https://rapidcity.craigslist.org,6577,2010.0,dodge,grand caravan,NaN,NaN,gas,148721.0,clean,automatic,2D4RN5DX0AR140668,fwd,NaN,mini-van,blue,https://images.craigslist.org/00f0f_5yUMSGZFBn...,2010 Dodge Grand Caravan SXT Offered by: L...,NaN,sd,44.0804,-103.191

In [47]:
rv([2011,1989,1997], ['oregon coast','mohave county','maine'])

On the year {2011} there were a total of 66 vehicles from oregon coast
On the year {2011} there were a total of 17 vehicles from mohave county
On the year {2011} there were a total of 0 vehicles from maine
On the year {1989} there were a total of 1 vehicles from oregon coast
On the year {1989} there were a total of 4 vehicles from mohave county
On the year {1989} there were a total of 0 vehicles from maine
On the year {1997} there were a total of 5 vehicles from oregon coast
On the year {1997} there were a total of 2 vehicles from mohave county
On the year {1997} there were a total of 0 vehicles from maine

Write a function with two arguments: a list of regions, and a list of years. The function should print a listing that shows the number of vehicles from each of those regions in each of those years. (I.e., it will print one line of output for each region during each year.)

Use your new function to re-create the answer to question 2b.

Test your function on some lists of regions and lists of years of your choice.

## Question 4

In [2]:
import pandas as pd
from pathlib import Path

In [3]:
def getflight(myorigin, yr):
    

    total_count=0
    airport = pd.read_csv(f'/anvil/projects/tdm/data/flights/subset/{yr}.csv')
    for index, row in airport.iterrows ():
        if row ['Origin'] ==myorigin:
            total_count +=1   
    return total_count

In [28]:
getflight("IND", 1988)

37399

In [29]:
getflight("IND", 1989)

40567

In [30]:
getflight("IND", 1990)

43826

In [31]:
for i in [1988, 1989, 1990]:
    print(f"{i}:{getflight(f'IND', i)}")

1988:37399
1989:40567
1990:43826

In [7]:
for yr in [1988, 1989, 1990]:
 
    print(f'On the year {yr} there were a total of', getflight("IND", yr), 'flights')

On the year 1988 there were a total of 37399 flights
On the year 1989 there were a total of 40567 flights
On the year 1990 there were a total of 43826 flights

In [5]:
for yr in [1988, 1989, 1990]:
    for myorigin in['IND', 'ORD', 'CVG']:
        print(f'On the year {yr} there were a total of', getflight(myorigin, yr),f'flights from {myorigin}')

On the year 1988 there were a total of 37399 flights from IND
On the year 1988 there were a total of 271494 flights from ORD
On the year 1988 there were a total of 62273 flights from CVG
On the year 1989 there were a total of 40567 flights from IND
On the year 1989 there were a total of 261259 flights from ORD
On the year 1989 there were a total of 59945 flights from CVG
On the year 1990 there were a total of 43826 flights from IND
On the year 1990 there were a total of 269128 flights from ORD
On the year 1990 there were a total of 63610 flights from CVG

Write a loop that prints the number of flights that depart from IND as the Origin airport in each of the years 1988, 1989, 1990. (I.e., you should have 3 lines of output.)

Now write a double-loop that prints the number of flights that depart from each of the airports IND, ORD, CVG as the Origin airport in each of the years 1988, 1989, 1990. (I.e., you should have 9 lines of output.)

## Question 5

In [7]:
def getlist(mylistofyear, mylistoforigin):
    """
  getlist is a function that accepts mylistofyear and mylistoforigin as arguments,
    and returns the number of flights departing from each Origin airports during 
    each year in mylistofyear and each car in mylistoforigin.

    Args:
        mylistofyear (list): The year on which we are counting the number of flight.
        mylistoforigin (list): The flights on which we are counting in a origin.

    Returns:
        Nothing.  Instead, we just print the values on each year for the cars.
    """
    for yr in mylistofyear:
        for myorigin in mylistoforigin:
            print(f'On the year {yr} there were a total of', getflight(myorigin, yr),f'flights from {myorigin}')

In [8]:
for yr in [1988, 1989, 1990]:
    for myorigin in['IND', 'ORD', 'CVG']:
        print(f'On the year {yr} there were a total of', getflight(myorigin, yr),f'vehicles of{myorigin}')

On the year 1988 there were a total of 37399 vehicles ofIND
On the year 1988 there were a total of 271494 vehicles ofORD
On the year 1988 there were a total of 62273 vehicles ofCVG
On the year 1989 there were a total of 40567 vehicles ofIND
On the year 1989 there were a total of 261259 vehicles ofORD
On the year 1989 there were a total of 59945 vehicles ofCVG
On the year 1990 there were a total of 43826 vehicles ofIND
On the year 1990 there were a total of 269128 vehicles ofORD
On the year 1990 there were a total of 63610 vehicles ofCVG

In [8]:
airport = pd.read_csv(f'/anvil/projects/tdm/data/flights/subset/1989.csv')

In [9]:
airport.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1989,1,23,1,1419.0,1230,1742.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1989,1,24,2,1255.0,1230,1612.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1989,1,25,3,1230.0,1230,1533.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1989,1,26,4,1230.0,1230,1523.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1989,1,27,5,1232.0,1230,1513.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [10]:
for yr in [1988, 1989, 1990]:
    for myorigin in['MSP', 'MSO', 'MYR']:
        print(f'On the year {yr} there were a total of', getflight(myorigin, yr),f'vehicles of{myorigin}')

On the year 1988 there were a total of 95265 vehicles ofMSP
On the year 1988 there were a total of 2665 vehicles ofMSO
On the year 1988 there were a total of 3803 vehicles ofMYR
On the year 1989 there were a total of 99072 vehicles ofMSP
On the year 1989 there were a total of 2504 vehicles ofMSO
On the year 1989 there were a total of 4241 vehicles ofMYR
On the year 1990 there were a total of 102298 vehicles ofMSP
On the year 1990 there were a total of 2481 vehicles ofMSO
On the year 1990 there were a total of 3462 vehicles ofMYR

Write a function with two arguments: a list of Origin airports, and a list of years. The function should print a listing that shows the number of flights departing from each of those Origin airports in each of those years. (I.e., it will have one line of output for each Origin airport during each year.)

Use your new function to re-create the answer to question 4b.

Test your function on some lists of Origin airports and lists of years of your choice.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.