# Project 1 -- SEYI OGUNMODEDE

#  The Data Mine Seminar II - 19841 - TDM 10200 - 004

**TA ** Jeong, Ik Su

- Help with clarification

## Question 1

In [2]:
print(7+10)

17

Markdown notes and sentences and analysis written here.

## Question 2

In [4]:
# We are going to create a variable, 
# we are assigning the numbers 1,2,3 to a variable called my_list.
my_list = [1, 2, 3]
print(f'My list is: {my_list}')

My list is: [1, 2, 3]

In [2]:
# create a variable named x and assign the number 6 to it

# create a variable named y and assign the number 8 to it

# create a variable named z and assign x * y to it

# now print z


x = 6
print(f'x:{x}')

x:6

In [18]:
y = 8
print(f'y:{y}')

y:8

In [19]:
z = 6*8
print(f'z:{z}')

z:48

In [7]:
x = 6
print(f'x:{x}')
y = 8
print(f'y:{y}')
z = x*y
print(f'z:{z}')

x:6
y:8
z:48

In [8]:
x = 6
y = 8
z = x*y
print(f'z:{z}')

z:48

In [ ]:
assign x,z,y the same value of "peanutbutter" all in one line

In [11]:
 x, y, z = "peanutbutter", "peanutbutter", "peanutbutter"

In [12]:
print(f'x, y, z : {x}, {y}, {z}')

x, y, z : peanutbutter, peanutbutter, peanutbutter

In [ ]:
assign the ingredients of a club sandwich to the variable club_sandwich

In [17]:
club_sandwich = ["bread", "butter", "egg", "tomatoes"]


print(f'club sandwich is:{club_sandwich}')

club sandwich is:['bread', 'butter', 'egg', 'tomatoes']

Markdown notes and sentences and analysis written here.

## Question 3

For markdown cells they are 13 in number
for code cell they are 5 in number

## Question 4

In [11]:
import pandas as pd
disney= pd.read_csv("/anvil/projects/tdm/data/disney/flight_of_passage.csv")
disney

              date             datetime  SACTMIN  SPOSTMIN
0       05/26/2017  2017-05-26 09:06:38      NaN    -999.0
1       05/26/2017  2017-05-26 09:10:11     47.0       NaN
2       05/26/2017  2017-05-26 09:10:12      NaN       5.0
3       05/26/2017  2017-05-26 09:17:09      NaN      60.0
4       05/26/2017  2017-05-26 09:24:07      NaN      60.0
...            ...                  ...      ...       ...
184813  12/28/2021  2021-12-28 19:35:47      NaN      90.0
184814  12/28/2021  2021-12-28 19:42:15      NaN      90.0
184815  12/28/2021  2021-12-28 19:48:15      NaN      90.0
184816  12/28/2021  2021-12-28 19:54:10      NaN      90.0
184817  12/28/2021  2021-12-28 19:58:35      NaN      80.0

[184818 rows x 4 columns]

In [12]:
print(disney.head())

         date             datetime  SACTMIN  SPOSTMIN
0  05/26/2017  2017-05-26 09:06:38      NaN    -999.0
1  05/26/2017  2017-05-26 09:10:11     47.0       NaN
2  05/26/2017  2017-05-26 09:10:12      NaN       5.0
3  05/26/2017  2017-05-26 09:17:09      NaN      60.0
4  05/26/2017  2017-05-26 09:24:07      NaN      60.0

In [13]:
print(disney.tail())

              date             datetime  SACTMIN  SPOSTMIN
184813  12/28/2021  2021-12-28 19:35:47      NaN      90.0
184814  12/28/2021  2021-12-28 19:42:15      NaN      90.0
184815  12/28/2021  2021-12-28 19:48:15      NaN      90.0
184816  12/28/2021  2021-12-28 19:54:10      NaN      90.0
184817  12/28/2021  2021-12-28 19:58:35      NaN      80.0

There are 184818 rows and 4 columns

## Question 5

In [ ]:
# code here

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.